In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
series_1 = pd.Series(['Amit', 'Bob', 'Kate', 'A', 'b',
                      np.nan, 'Car', 'dog', 'cat'])
print(series_1)

0    Amit
1     Bob
2    Kate
3       A
4       b
5     NaN
6     Car
7     dog
8     cat
dtype: object

In [3]:
series_lower_cases = [str(ele).lower() for ele in series_1]
print(series_lower_cases)

['amit', 'bob', 'kate', 'a', 'b', 'nan', 'car', 'dog', 'cat']

In [4]:
series_upper_cases = [str(ele).upper() for ele in series_1]
print(series_upper_cases)

['AMIT', 'BOB', 'KATE', 'A', 'B', 'NAN', 'CAR', 'DOG', 'CAT']

In [5]:
print(len(series_1))

9

In [6]:
series_2 = pd.Series([' Atul', 'John ', ' jack ', 'Sam'])
print(series_2)

0      Atul
1     John
2     jack
3       Sam
dtype: object

In [7]:
series_stripped = [str(ele).strip() for ele in series_2]
print(series_stripped)

['Atul', 'John', 'jack', 'Sam']

In [8]:
series_lstripped = [str(ele).lstrip() for ele in series_2]
print(series_lstripped)

['Atul', 'John ', 'jack ', 'Sam']

In [9]:
series_rstripped = [str(ele).rstrip() for ele in series_2]
print(series_rstripped)

[' Atul', 'John', ' jack', 'Sam']

In [10]:
series_3 = pd.Series(
    ['India_is_big', 'Population_is_huge', np.nan, 'Has_diverse_culture'])
print(series_3)

# a) split the individual strings wherever ‘_’ comes and create a list out of it.
list_splited = [str(ele).split("_") for ele in series_3]
print(list_splited)

flatten_list = []

0           India_is_big
1     Population_is_huge
2                    NaN
3    Has_diverse_culture
dtype: object
[['India', 'is', 'big'], ['Population', 'is', 'huge'], ['nan'], ['Has', 'diverse', 'culture']]

In [11]:
for sublist in list_splited:
    for l in sublist:
        flatten_list.append(l)
        print(l)

India
is
big
Population
is
huge
nan
Has
diverse
culture

In [12]:
print(flatten_list)

['India', 'is', 'big', 'Population', 'is', 'huge', 'nan', 'Has', 'diverse', 'culture']

In [13]:
series_4 = pd.Series(['A', 'B', 'C', 'AabX', 'BacX',
                      '', np.nan, 'CABA', 'dog', 'cat'])
print(series_4)

series_replace_X = [str(ele).replace(
    "X", "XX-XX").replace("dog", "XX-XX") for ele in series_4]
print(series_replace_X)

0       A
1       B
2       C
3    AabX
4    BacX
5
6     NaN
7    CABA
8     dog
9     cat
dtype: object
['A', 'B', 'C', 'AabXX-XX', 'BacXX-XX', '', 'nan', 'CABA', 'XX-XX', 'cat']

In [14]:
series_5 = pd.Series(['12', '-$10', '$10,000'])
print(series_5)

series_remove_dollar = [str(ele).replace("$", "") for ele in series_5]
print(series_remove_dollar)

0         12
1       -$10
2    $10,000
dtype: object
['12', '-10', '10,000']

In [15]:
series_6 = pd.Series(['india 1998', 'big country', np.nan])
print(series_6)

print(series_6[::-1])

0     india 1998
1    big country
2            NaN
dtype: object
2            NaN
1    big country
0     india 1998
dtype: object

In [16]:
series_7 = pd.Series(['1', '2', '1a', '2b', '2003c'])
print(series_7)

series_aplha_check = [str(ele).isalnum() for ele in series_7]
print(series_aplha_check)

0        1
1        2
2       1a
3       2b
4    2003c
dtype: object
[True, True, True, True, True]

In [17]:
series_8 = pd.Series(['1', '2', '1a', '2b', 'America',
                      'VietnAm', 'vietnam', '2003c'])
print(series_8)

series_true_if_contains_A = ["A" in str(ele) for ele in series_8]
print(series_true_if_contains_A)

0          1
1          2
2         1a
3         2b
4    America
5    VietnAm
6    vietnam
7      2003c
dtype: object
[False, False, False, False, True, True, False, False]

In [18]:
series_9 = pd.Series(['a', 'a|b', np.nan, 'a|c'])
print(series_9)

series_a_b_c_exists = [1 if re.match(
    "[abc]", str(ele)) else 0 for ele in series_9]
print(series_a_b_c_exists)

0      a
1    a|b
2    NaN
3    a|c
dtype: object
[1, 1, 0, 1]

In [19]:
df1 = pd.DataFrame({'key': ['One', 'Two'], 'ltable': [1, 2]})
df2 = pd.DataFrame({'key': ['One', 'Two'], 'rtable': [4, 5]})

print(df1)
print(df2)

df_merge = pd.merge(df1, df2, sort=True)
print(df_merge)

   key  ltable
0  One       1
1  Two       2
   key  rtable
0  One       4
1  Two       5
   key  ltable  rtable
0  One       1       4
1  Two       2       5